<template>
  <div class="camera card">
    <web-cam
      ref="webcam"
      :height="height"
      :width="width"
      :device-id="deviceId"
      @started="loadHandpose"
      @error="onError"
      @notsupported="onNotsupported"
      @cameras="onCameras"
      @camera-change="onCameraChange"
    />
    <canvas ref="canvas" :height="height" :width="width" />
  </div>
</template>

<script>
import { WebCam } from "vue-web-cam";
import { GestureEventBus } from "../main";

import "@tensorflow/tfjs-backend-webgl";
import * as handpose from "@tensorflow-models/handpose";
import { Gestures } from "fingerpose";
import { CustomGestures, GE } from "../utils/gestures";
// showErrorDialog({ title = "Error", message, onConfirm }) {
//   Dialog.alert({
//     title,
//     message,
//     type: "is-danger",
//     hasIcon: true,
//     icon: "alert-outline",
//     onConfirm,
//   });
// },

export default {
  name: "Camera",

  components: {
    WebCam,
  },

  data() {
    return {
      ctx: null,
      height: 300,
      width: 300,
      camera: null,
      deviceId: null,
      devices: [],
      minConfidence: 8,
      detection: {
        name: "",
        semanticName: "",
        confidence: 0,
        humanConfidence: 0,
      },
    };
  },

  mounted() {
    this.ctx = this.$refs.canvas.getContext("2d");
  },

  computed: {
    mostRecent() {
      let name = "";

      switch (this.detection.name) {
        case CustomGestures.PointingRightGesture.name:
          name = "To your right"; // Left & Right are flipped
          break;
        case CustomGestures.PointingLeftGesture.name:
          name = "To your Left"; // Left & Right are flipped
          break;
        case Gestures.VictoryGesture.name:
          name = "Victory";
          break;
        case CustomGestures.PointingUpwardsGesture.name:
          name = "A lot";
          break;
        case CustomGestures.ThumbsDownGesture.name:
          name = "Unwell";
          break;
        case Gestures.ThumbsUpGesture.name:
          name = "Thank you";
          break;
        case CustomGestures.GoodbyeGesture.name:
          name = "Goodbye";
          break;
        case CustomGestures.FoodGesture.name:
          name = "Food";
          break;
        case CustomGestures.EatGesture.name:
          name = "Eat";
          break;
        default:
          break;
      }

      return {
        name,
        confidence: Math.floor((this.detection.confidence ?? 0) * 10),
      };
    },
  },

  watch: {
    camera(id) {
      this.deviceId = id;
    },

    devices() {
      // Once we have a list of devices, select the first one
      const first = this.devices[0];

      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    },
  },

  methods: {
    async loadHandpose() {
      // Load the Handpose model
      const model = await handpose.load();
      await this.detect(model);

      this.$emit("on-loaded");
    },

    async detect(model) {
      const videoEl = this.$refs.webcam?.$el;

      if (videoEl && videoEl.readyState === 4) {
        // Make detections from the webcam
        const hand = await model.estimateHands(videoEl);

        if (hand.length > 0) {
          const estimation = GE.estimate(hand[0].landmarks, this.minConfidence);

          if (estimation.gestures.length > 0) {
            // Get the gesture with the largest confidence & emit it in an event
            const confidences = estimation.gestures.map((g) => g.confidence);
            const largest = confidences.indexOf(Math.max(...confidences));

            this.detection = estimation.gestures[largest];

            let name = "";

            switch (this.detection.name) {
              case CustomGestures.PointingRightGesture.name:
                name = "To your right"; // Left & Right are flipped
                break;
              case CustomGestures.PointingLeftGesture.name:
                name = "To your Left"; // Left & Right are flipped
                break;
              case Gestures.VictoryGesture.name:
                name = "Victory";
                break;
              case CustomGestures.PointingUpwardsGesture.name:
                name = "A lot";
                break;
              case CustomGestures.ThumbsDownGesture.name:
                name = "Unwell";
                break;
              case Gestures.ThumbsUpGesture.name:
                name = "Thank you";
                break;
              case CustomGestures.GoodbyeGesture.name:
                name = "Goodbye";
                break;
              case CustomGestures.FoodGesture.name:
                name = "Food";
                break;
              case CustomGestures.EatGesture.name:
                name = "Eat";
                break;
              default:
                name = "Unknown";
                break;
            }

            this.detection.semanticName = name;
            this.detection.humanConfidence = Math.floor(
              (this.detection.confidence ?? 0) * 10
            );

            this.$emit("yoyo", this.detection);

            GestureEventBus.$emit("on-detection", estimation.gestures[largest]);
          }
        } else if (hand.length == 0) {
          this.$emit("yoyo", {
            name: "",
            semanticName: "No hand sign detected",
            confidence: 0,
            humanConfidence: 0,
          });
        }


        // Continue detection loop
        requestAnimationFrame(() => this.detect(model));
      }
    },

    onError() {
      this.$emit("on-loaded");
      alert("Sorry, but we are not able to access your webcam.");
    },

    onNotsupported() {
      this.$emit("on-loaded");

      alert("Sorry, but your browser does not appear to be supported.");
    },

    onCameras(cameras) {
      this.devices = cameras;
    },

    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
    },
  },
};
</script>

<style lang="scss" scoped>
.camera {
  width: calc(350px);
  height: calc(350px);
}

canvas,
video {
  height: 100%;
  width: 100%;
}
</style>
