<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card
          hover
          class="rounded-xl"
          style="height: 120px; margin-top: 30px"
          color="#58cc02"
          @click="$router.push('/LearningSummary')"
        >
          <v-list-item>
            <v-list-item-content style="margin-top: 25px">
              <v-list-item-title class="text-h5;"
                ><strong style="color: white">Learning Report</strong></v-list-item-title
              >
              <v-list-item-subtitle style="margin-top: 25px; color: white"
                >Enter &rarr;</v-list-item-subtitle
              >
            </v-list-item-content>

            <v-img
              max-height="150"
              max-width="140"
              color="grey"
              tile
              src="@/assets/1.png"
              style="
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
                display: block;
              "
            ></v-img>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-card hover class="rounded-xl" style="height: 100px" color="#eeeeee" @click="$router.push('/test')">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="mb-1" style="margin-top: 50px">
                <strong>Test</strong>
              </v-list-item-title>
            </v-list-item-content>

            <v-avatar size="48" tile style="margin-top: -10px"
              ><span class="text-h3">📜</span></v-avatar
            >
          </v-list-item>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card hover class="rounded-xl" style="height: 100px" color="#eeeeee" @click="$router.push('/translate')">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="mb-1" style="margin-top: 50px">
                <strong>Translate</strong>
              </v-list-item-title>
            </v-list-item-content>

            <v-avatar size="48" style="margin-top: -10px"
              ><span class="text-h3">🌐</span></v-avatar
            >
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card-title class="text-subtitle-1"
          ><strong>Which module you want to study today?</strong></v-card-title
        >
        <v-list>
          <v-list-item style="margin-bottom: 15px" @click="$router.push('/learning/0')">
            <v-list-item-avatar size="60" tile>
              <span class="text-h3">😁</span>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title><strong>Expression</strong></v-list-item-title>
              <v-list-item-subtitle>5 words</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider style="margin-top: 10px; border-width: 1px" />
          <v-list-item style="margin-top: 15px; margin-bottom: 15px">
            <v-list-item-avatar size="60" tile>
              <span class="text-h3">🍕</span>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title><strong>Food</strong></v-list-item-title>
              <v-list-item-subtitle>4 words</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider style="margin-top: 10px; border-width: 1px" />
          <v-list-item style="margin-top: 15px; margin-bottom: 15px">
            <v-list-item-avatar size="60" tile>
              <span class="text-h3">🗺️</span>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title><strong>Map</strong></v-list-item-title>
              <v-list-item-subtitle>5 words</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider style="margin-top: 10px; border-width: 1px" />
          <v-list-item style="margin-top: 5px; margin-bottom: 15px" @click="$router.push('/VocabularyList')">
            <v-list-item-avatar size="60" tile>
              <span class="text-h3">📰</span>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title><strong>More</strong></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({
    ecosystem: [
      {
        text: "vuetify-loader",
        href: "https://github.com/vuetifyjs/vuetify-loader",
      },
      {
        text: "github",
        href: "https://github.com/vuetifyjs/vuetify",
      },
      {
        text: "awesome-vuetify",
        href: "https://github.com/vuetifyjs/awesome-vuetify",
      },
    ],
    importantLinks: [
      {
        text: "Documentation",
        href: "https://vuetifyjs.com",
      },
      {
        text: "Chat",
        href: "https://community.vuetifyjs.com",
      },
      {
        text: "Made with Vuetify",
        href: "https://madewithvuejs.com/vuetify",
      },
      {
        text: "Twitter",
        href: "https://twitter.com/vuetifyjs",
      },
      {
        text: "Articles",
        href: "https://medium.com/vuetify",
      },
    ],
    whatsNext: [
      {
        text: "Explore components",
        href: "https://vuetifyjs.com/components/api-explorer",
      },
      {
        text: "Select a layout",
        href: "https://vuetifyjs.com/getting-started/pre-made-layouts",
      },
      {
        text: "Frequently Asked Questions",
        href: "https://vuetifyjs.com/getting-started/frequently-asked-questions",
      },
    ],
  }),
};
</script>
