<template>
  <div>
    <v-container
      v-touch="{
        left: () => this.knowledgeNumberDecrement(),
        right: () => this.knowledgeNumberIncre(),
      }"
    >
      <v-row>
        <iframe
          :src="knowledgeBase[this.knowledgeNumber].url"
          title="q"
          width="375"
          height="375"
        ></iframe>
      </v-row>
      <v-row style="margin-top: 10px" align="center" class="mx-0">
        <div class="ms-4">Difficulty:</div>
        <v-rating
          :value="knowledgeBase[this.knowledgeNumber].difficulty"
          color="black"
          readonly
          size="20"
        ></v-rating>
        <v-btn icon>
          <v-icon>mdi-thumb-up</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-thumb-down</v-icon>
        </v-btn>
      </v-row>      <p style="text-align: center; margin-top: 20px; margin-bottom: 20px">
        Word: {{knowledgeBase[this.knowledgeNumber].name}}
      </p>
      <p style="text-align: center; margin-top: 20px; margin-bottom: 20px">
        Type: Greeting and Expression
      </p>
      <v-row justify="center">
        <v-col align="center">
          <v-btn @click="$router.push('/test/')"> <v-icon left>mdi-hand-back-left</v-icon>Test </v-btn></v-col
        ></v-row
      >
    </v-container>
  </div>
</template>

<script>
//        <video ref="camera" width="375" height="375" autoplay></video>
export default {
  name: "Learning",
  mounted(){
    if(this.$route.params.word != null){
      this.knowledgeNumber = this.$route.params.word;
    }
  },

  data: () => ({
    emotion: ["Happy", "Sad", "Angry", "Shock"],
    knowledgeBase: [
      {
        name: "Thank you",
        difficulty: 1,
        url: "https://cuhk.ap.panopto.com/Panopto/Pages/Embed.aspx?id=1f089534-d8d6-43f4-85b9-ab170073a59a&v=1&autoplay=true&offerviewer=false&showTitle=false&interactivity=none",
      },
      {
        name: "Goodbye",
        difficulty: 2,
        url: "https://cuhk.ap.panopto.com/Panopto/Pages/Embed.aspx?id=f11da40d-18ef-49ed-ab5a-ab1800841cb7&v=1&autoplay=true&offerviewer=false&showTitle=false&interactivity=none",
      },
      {
        name: "To your Left",
        difficulty: 3,
        url: "https://cuhk.ap.panopto.com/Panopto/Pages/Embed.aspx?id=68f8438a-cc47-48eb-9df3-ab180084d5de&v=1&autoplay=true&offerviewer=false&showTitle=false&interactivity=none",
      },
      {
        name: "To your Right",
        difficulty: 4,
        url: "https://cuhk.ap.panopto.com/Panopto/Pages/Embed.aspx?id=8e04811d-2f83-4f41-86bb-ab180084da86&v=1&autoplay=true&offerviewer=false&showTitle=false&interactivity=none",
      },
      {
        name: "Eat",
        difficulty: 5,
        url: "https://cuhk.ap.panopto.com/Panopto/Pages/Embed.aspx?id=d03b0513-aea0-4288-9c85-ab1800843a04&v=1&autoplay=true&offerviewer=false&showTitle=false&interactivity=none",
      },
    ],
    knowledgeNumber: 0,
  }),

  methods: {
    knowledgeNumberIncre() {
      if (this.knowledgeNumber < 4) {
        this.knowledgeNumber++;
      }
    },
    knowledgeNumberDecrement() {
      if (this.knowledgeNumber > 0) {
        this.knowledgeNumber--;
      }
    },
  },
};
</script>
