<template>
  <div>
    <v-container>
      <v-row
        ><v-col
          ><p class="text-center" style="color: #58cc02; font-size: 36px">
            You 're on track !
          </p>
          <p class="text-center">
            Learn more sign language today to<br />continue your streak!
          </p></v-col
        ></v-row
      >
      <v-row
        ><v-col>🔥<strong>Streak Day 25</strong></v-col></v-row
      >
      <v-row
        ><v-col
          ><v-card class="rounded-xl"
            ><v-card-title>📊 Learning Progress</v-card-title>
            <v-container>
              <v-row>
                <v-col>
                  <v-progress-linear
                    class="rounded-lg"
                    value="48"
                    height="25"
                    color="#58cc02"
                  >
                  </v-progress-linear></v-col
              ></v-row>
              <v-row
                ><v-col align="center"><strong>48%</strong></v-col></v-row
              >
              <v-row>
                <v-col>
                  <p>Module 1: Greetings and Expression</p>
                  <v-progress-linear
                    class="rounded-lg"
                    value="70"
                    height="25"
                    color="#58cc02"
                  >
                  </v-progress-linear></v-col
              ></v-row>

              <v-row>
                <v-col>
                  <p>Module 2: Numbers</p>
                  <v-progress-linear
                    class="rounded-lg"
                    value="51"
                    height="25"
                    color="#58cc02"
                  >
                  </v-progress-linear></v-col
              ></v-row>

              <v-row>
                <v-col>
                  <p>Module 3: Daily Objects</p>
                  <v-progress-linear
                    class="rounded-lg"
                    value="25"
                    height="25"
                    color="#58cc02"
                  >
                  </v-progress-linear></v-col
              ></v-row>
            </v-container> </v-card></v-col
      ></v-row>

      <v-row>
        <v-col>
          <v-card class="rounded-xl"
            ><v-card-title>📈 Learning Time per Word</v-card-title>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h5 mb-1">
                  Great job!
                </v-list-item-title>
                <v-list-item-subtitle
                  >Your learning time has decreased by half<br />
                  over the past month!</v-list-item-subtitle
                >
              </v-list-item-content>

              <v-avatar size="60" style="margin-top: -10px" tile
                ><span class="text-h3">🔥</span></v-avatar
              >
            </v-list-item>

            <apexchart
              type="line"
              :options="options"
              :series="series"
            ></apexchart>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
//
export default {
  name: "LearningSummary",
  data: () => ({
    options: {
      chart: {
        id: "vuechart-example",
      },
      xaxis: {
        categories: ["10/10", "12/10", "13/10", "16/10", "18/10", "20/10"],
      },
      stroke: {
        curve: "smooth",
        width: 7,
      },
      colors: ["#58cc02"],
    },
    series: [
      {
        name: "series-1",
        data: [20, 18, 16, 18, 15, 10],
      },
    ],
  }),
};
</script>
