<template>
  <div>
    <v-container     v-touch="{
      left: () => questionNoDecrement(),
      right: () => questionNoIncrement()
    }">
      <v-row>
        <v-col align="center">
          <p>Module: Expression</p>
        </v-col>
      </v-row>
      <v-row style="margin-top: -20px">
        <v-col cols="1" style="margin-top: 10px">
          <v-btn icon @click="questionNoDecrement()"
            ><v-icon left color="black">mdi-chevron-left</v-icon></v-btn
          ></v-col
        >
        <v-col cols="10" style="margin-right: -15px">
          <v-card class="rounded-pill" outlined>
            <v-card-subtitle class="text-center text-h6">{{
              questionBank[questionNo].name
            }}</v-card-subtitle>
          </v-card></v-col
        >
        <v-col cols="1" style="margin-top: 10px">
          <v-btn icon @click="questionNoIncrement()"
            ><v-icon left color="black">mdi-chevron-right</v-icon></v-btn
          ></v-col
        >
      </v-row>
      <camera
        v-show="modelLoaded && !minimizeCamera"
        @on-loaded="modelLoaded = true"
        @on-minimize="minimizeCamera = true"
        @yoyo="setData($event)"
      />
      <v-row
        ><v-col align="center"
          ><p v-show="correct[this.questionNo]">✔️ Correct</p>
          <div v-show="!correct[this.questionNo]" >
          <p >❌ Wrong</p>
          <p v-show="detectionData.semanticName == 'No hand sign detected'">No hand sign detected</p></div></v-col
          
        ></v-row
      >
      <v-row
        ><v-col align="center"
          ><p>
            {{ "Test Progress: " + (this.correctNo / Object.keys(this.correct).length)*100 + "%" }}
          </p></v-col
        ></v-row
      >
      <v-row
        ><v-col><v-btn block x-large>CHECK MY RESULT</v-btn></v-col></v-row
      >
    </v-container>
  </div>
</template>

<script>
import Camera from "@/components/Camera.vue";

export default {
  name: "Test",
  components: {
    Camera,
  },
  watch: {
    detectionName: function () {
      if (!this.correct) {
        if (this.dectectionName == this.questionBank[this.questionNo].name) {
          this.correct = true;
        }
      }
    },
  },

  data: () => ({
    modelLoaded: false,
    minimizeCamera: false,
    questionBank: [
      { name: "Thank you" },
      { name: "Goodbye" },
      { name: "To your Left" },
      { name: "To your right" },
      { name: "Food" },
    ],
    questionNo: 0,
    correct: { 0: false, 1: false, 2: false, 3: false, 4: false },
    correctNo: 0,
    dectectionName: "",
    detectionData: {
      semanticName: 'No hand sign detected'
    },
  }),
  methods: {
    questionNoIncrement() {
      if (this.questionNo < 4) {
        this.questionNo++;
      }
    },
    questionNoDecrement() {
      if (this.questionNo > 0) {
        this.questionNo--;
      }
    },
    setData(data) {
      this.detectionData = data;
      if (data.semanticName == this.questionBank[this.questionNo].name) {
        if (this.correct[this.questionNo] == false) {
          this.correct[this.questionNo] = true;
          this.correctNo++;
        }
      }
    },
  },
};
</script>
