<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <camera
            v-show="modelLoaded && !minimizeCamera"
            @on-loaded="modelLoaded = true"
            @on-minimize="minimizeCamera = true"
            @yoyo="detectionData = $event"
            ref="cameraDectection"  
        /></v-col>
      </v-row>
      <v-row
        ><v-col
          ><v-card color="#eeeeee">
            <v-container>
              <v-row
                ><v-col align="center">
                  <v-card-title>📖 Meaning</v-card-title></v-col
                ></v-row
              >
              <v-row
                ><v-col align="center">
                  <v-card-subtitle
                    ><p class="text-h5">{{detectionData.semanticName}}</p></v-card-subtitle
                  ></v-col
                ></v-row
              >
            </v-container>
          </v-card></v-col
        ></v-row
      >
      <v-row
        ><v-col
          ><v-card class="rounded-pill" color="#eeeeee"
            ><v-card-title>{{"✅ Accuracy:" + detectionData.humanConfidence + "%"}}</v-card-title></v-card
          ></v-col
        ></v-row
      >

    </v-container>
  </div>
</template>

<script>
import Camera from "@/components/Camera.vue";

      // <v-row style="margin-top: 20px; background-color: #eeeeee"
      //   ><v-col>
      //     <v-btn block x-large elevation="3" color="#58cc02" class="rounded-lg">
      //       <v-icon left>mdi-google-translate</v-icon>Translate</v-btn
      //     ></v-col
      //   ><v-col>
      //     <v-btn block x-large elevation="3" color="#58cc02" class="rounded-lg">
      //       <v-icon left>mdi-close</v-icon>Clear</v-btn
      //     ></v-col
      //   >
      // </v-row>

export default {
  name: "Translate",
  components: {
    Camera,
  },

  mounted(){
    //this.getDetectionDataPromise()
  },

  data: () => ({
    modelLoaded: false,
    minimizeCamera: false,
    detectionData: { name: "", confidence: 0, semanticName: "", humanConfidence: 0 },
  }),
  methods: {
   async getDetectionData () {
     if(this.modelLoaded) {
      return this.$refs.cameraDectection;
     }

   },
    getDetectionDataPromise(){

      this.getDetectionData().then((data) => {
        this.detectionData = data; 
        setInterval(this.getDetectionData, 100);
      })
    }
}
};
</script>
