<template>
  <div>
    <v-container>
      <v-text-field
        label="Search"
        rounded
        outlined
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <v-list>
        <v-list-group
          no-action
          sub-group
          style="margin-top: 5px; margin-bottom: 5px"
        >
          <template v-slot:activator>
            <v-list-item-title>😁 Expression</v-list-item-title>
            <v-list-item-subtitle>5 words</v-list-item-subtitle>
          </template>
          <v-list-item v-for="(i,index) in emotion" :key="i" @click="$router.push('/learning/' + index)">
            <v-list-item-content>
              <v-list-item-title>{{ i }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-divider />
        <v-list-group
          no-action
          sub-group
          style="margin-top: 5px; margin-bottom: 5px"
        >
          <template v-slot:activator>
            <v-list-item-title>🍕 Food</v-list-item-title>
            <v-list-item-subtitle>4 words</v-list-item-subtitle>
          </template>
          <v-list-item v-for="i in food" :key="i">
            <v-list-item-content>
              <v-list-item-title>{{ i }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-divider />
        <v-list-group
          no-action
          sub-group
          style="margin-top: 5px; margin-bottom: 5px"
        >
          <template v-slot:activator>
            <v-list-item-title>🗺️ Map</v-list-item-title>
            <v-list-item-subtitle>3 words</v-list-item-subtitle>
          </template>
          <v-list-item v-for="i in map" :key="i">
            <v-list-item-content>
              <v-list-item-title>{{ i }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-list-group
          no-action
          sub-group
          style="margin-top: 5px; margin-bottom: 5px"
          v-for="i in 20"
          :key="i"
        >
          <template v-slot:activator>
            <v-list-item-title>💴 Template</v-list-item-title>
            <v-list-item-subtitle>5 words</v-list-item-subtitle>
          </template>
          <v-list-item v-for="i in 5" :key="i">
            <v-list-item-content>
              <v-list-item-title>Template</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "VocabularyList",
  data: () => ({
    emotion: ["Thank you", "Goodbye", "To your left", "To your right", "Eat"],
    food: ["Apple", "Orange", "Pizza", "Banana"],
    map: ["Hong Kong", "United States of America", "United States"],
  }),
};
</script>

<style>
.doneAssess {
  background-color: green;
  text-color: white;
}

.wrongWord {
  background-color: red;
}
</style>
