<template>
  <v-app>
    <v-app-bar app color="white" elevation="0" v-if="appBarShow()">
      <v-btn @click="$router.go(-1)" icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer />
      <v-card-title>{{this.$navBarname}}</v-card-title>
      <v-spacer />
      <v-btn icon>
        <v-icon></v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-divider v-if="appBarShow()" />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({}),

  computed: {},

  methods: {
    log() {
      console.log(this.$router.history.current.path);
    },
    appBarShow: function () {
      return this.$router.history.current.path != "/";
    },
  },
};
</script>
